body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
header {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  background: #1a0040;
}
.site-home {
  text-decoration: none;
}
.site-home .title {
  font-weight: 400;
  margin: 30px 0 3px 0;
  color: #fff;
}
.site-home .sub-title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #f3ab00;
}
.logo {
  max-height: 50px;
  vertical-align: bottom;
}


.date-navigator {
  display: flex;
}
.date-navigator button {
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px 0;
  color: #fff;
  background-color: hsl(264, 100%, 16%);
  border: 1px solid hsl(264, 100%, 6%);
  box-shadow: 0px 2px 0 hsl(264, 100%, 8%), 2px 4px 6px hsl(264, 100%, 7%);
  transition: all 150ms linear;
}
.date-navigator button:hover {
  background-color: hsl(264, 100%, 11%);
  color: hsl(264, 25%, 42%);
  text-shadow: -1px -1px 0 hsl(264, 100%, 4%);
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 1px 1px 2px rgba(255,255,255,.2);
}
.current-date {
  flex: 3;
}
.prev-date, .next-date {
  flex: 1;
}



.add-action {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  background-color: #eaedee;
}
.add-action label {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.add-action #newAction,
.add-action input[type="submit"] {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0,0,0,.1);
}

.add-action #actionColor {
  background-color: transparent;
  border: 1px solid rgba(0, 0,0,.1);
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  padding: 2px;
}


.actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.action {
  text-align: center;
  font-size: 2rem;
  padding: .3rem;
  margin: 11px;
  cursor: pointer;
  box-shadow: 0 0 0 0;
  animation: pulse 3s infinite;
  text-transform: uppercase;
}

.action input[type="checkbox"] {
  visibility: hidden;
}
