body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
header {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  background: #1a0040;
}
.site-home {
  text-decoration: none;
}
.site-home .title {
  font-weight: 400;
  margin: 30px 0 3px 0;
  color: #fff;
}
.site-home .sub-title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #f3ab00;
}
.logo {
  max-height: 50px;
  vertical-align: bottom;
}


.date-navigator {
  display: flex;
}
.date-navigator button {
  outline: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px 0;
  color: #fff;
  background-color: hsl(264, 100%, 16%);
  border: 1px solid hsl(264, 100%, 6%);
  box-shadow: 0px 2px 0 hsl(264, 100%, 8%), 2px 4px 6px hsl(264, 100%, 7%);
  transition: all 150ms linear;
}
.date-navigator button:hover {
  background-color: hsl(264, 100%, 11%);
  color: hsl(264, 25%, 42%);
  text-shadow: -1px -1px 0 hsl(264, 100%, 4%);
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 1px 1px 2px rgba(255,255,255,.2);
}
.current-date {
  flex: 3;
}
.prev-date, .next-date {
  flex: 1;
}



.form-drawer {
  background-color: #eaedee;
  box-shadow: inset 0 -1px 9px hsla(264,100%,16%,.5);
  max-height: 80px;
  overflow: hidden;
  transition: max-height 200ms cubic-bezier(.77,-.04, 1, 1);
}

/*.form-drawer.closed {
  box-shadow: none;
  max-height: 0;
}*/

.add-action {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.add-action label {
  visibility: hidden;
  height: 0;
  width: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.add-action input {
  cursor: pointer;
  outline: 0;
  padding: 10px;
  box-shadow: 0 4px 6px hsla(264, 89%, 8%, .5);
  border: 1px solid hsla(264, 100%, 16%,.5);
  transition: all 150ms linear;
}

.add-action #newAction {
  cursor: text;
}

.add-action #actionColor {
  background-color: transparent;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  padding: 2px;
}

.add-action input[type="submit"] {
  letter-spacing: 2px;
  color: #fff;
  background-color: hsl(264, 100%, 16%);
}

.add-action input:hover {
  box-shadow: none;
}


.actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.actions p {
  text-align: center;
  font-size: 1.5rem;
}

.action {
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
}

.action label {
  flex: 1;
  text-align: center;
  font-size: .95rem;
  font-weight: 100;
  padding: .3rem;
  margin: 5px;
  text-shadow: 0 2px 3px rgba(255,255,255,.3);
  -webkit-background-clip: text;
}

.action label.done {
  text-shadow: none;
  -webkit-background-clip: unset;
  text-shadow: 0 2px 3px rgba(0,0,0,.3);
}

.action input[type="checkbox"] {
  display: none;
}




/*
ext-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
*/
